/* Background Colors */

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #f2f2f2;
}

.bg-light-grey {
  background-color: #fafafa;
}

.bg-blue {
  background-color: #2a3855 !important;
  color: white !important;
}

.bg-blue-2 {
  background-color: #3D4C6F !important;
  color: white !important;
}










/* Text Colors */

.white {
  color: white !important;
}

.blue-1 {
  color: #2a3855 !important;
}

.grey {
  color: #6a6a6a !important;
}

.gold {
  color: #d4af37 !important;
}

.silver {
  color: #979691 !important;
}










/* Corners */

.rounded-corners {
  border-radius: 10px;
}

.rounded-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}










/* Alignment */

.center-items {
  display: flex;
  align-items: center;
}

.center-items > .item {
  display: inline !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.v-align-mid {
  vertical-align: middle;
}










/* Padding */

.left-padded {
  padding-left: 1em;
}

.indented {
  padding-left: 4rem !important;
}

.indented-s {
  padding-left: 2rem !important;
}

.noPadding {
  padding: 0 !important;
  overflow: hidden;
}

.top-pad-1 {
  padding-top: 1rem !important;
}

.top-pad-3 {
  padding-top: 3rem !important;
}

.v-pad-2 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.padded {
  padding: 1em;
}

.pretty-padded {
  padding: 2rem;
}

.hella-padded {
  padding: 4em;
}










/* Margins */

.m-top-3 {
  margin-top: 3rem !important;
}

.m-top-1 {
  margin-top: 1rem !important;
}

.m-bottom-3 {
  margin-bottom: 3rem !important;
}

.m-top-0 {
  margin-top: 0 !important;
}









/* Font sizes */

.fs--1 {
  font-size: .7rem !important;
}

.fs-0 {
  font-size: .9rem !important;
}

.fs-1, p, li {
  font-size: 1rem !important;
}

.fs-2 {
  font-size: 1.2rem !important;
}

.fs-3, h6 {
  font-size: 1.3rem !important;
}

.fs-4, h5 {
  font-size: 1.45rem !important;
}

.fs-5, h4 {
  font-size: 1.65rem !important;
}

.fs-6, h3 {
  font-size: 1.8rem !important;
}

.fs-7, h2 {
  font-size: 2.1rem !important;
}

.fs-8, h1 {
  font-size: 2.8rem !important;
}

.fs-9 {
  font-size: 3.5rem !important;
}

.fs-10 {
  font-size: 4.5rem !important;
}

@media only screen and (min-width: 1200px) {
  .fs-3, h6 {
    font-size: 1.6rem !important;
  }

  .fs-4, h5 {
    font-size: 2rem !important;
  }

  .fs-5, h4 {
    font-size: 2.45rem !important;
  }

  .fs-6, h3 {
    font-size: 2.9rem !important;
  }

  .fs-7, h2 {
    font-size: 3.5rem !important;
  }

  .fs-8, h1 {
    font-size: 4.2rem !important;
  }

  .fs-9 {
    font-size: 6rem !important;
  }

  .fs-10 {
    font-size: 8rem !important;
  }
}


/* sections  */

.narrow-section, .regular-section, .wide-section {
  margin: 2rem 10px !important
}

.narrow-width, .regular-width, .wide-width, .hella-narrow-width {
  margin: 0 10px !important
}


@media only screen and (min-width: 770px) {
  .wide-section {
    margin: 5rem 10vw !important;
  }

  .regular-section {
    margin: 5rem 15vw !important;
  }

  .narrow-section {
    margin: 5rem 25vw !important
  }

  .wide-width {
    margin: 0 5vw !important;
  }

  .regular-width {
    margin: 0 10vw !important;
  }

  .narrow-width {
    margin: 0 20vw !important
  }
  
  .hella-narrow-width {
    margin: 0 25vw !important;
  }
}


@media only screen and (min-width: 2000px) {
  .wide-section {
    margin: 5rem 20vw !important;
  }

  .regular-section {
    margin: 5rem 25vw !important;
  }

  .narrow-section {
    margin: 5rem 32vw !important
  }

  .wide-width {
    margin: 0 20vw !important;
  }

  .regular-width {
    margin: 0 25vw !important;
  }

  .narrow-width {
    margin: 0 32vw !important
  }
  
  .hella-narrow-width {
    margin: 0 35vw !important;
  }
}









/* Miscellaneous */

.clickable {
  cursor: pointer;
}

.fluid {
  width: 100%;
}

.full-height {
  height: 100%;
}
