
body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #2a3855;
  font-family: "Montserrat", sans-serif;
}

.App {
  background-color: white;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 0 5vw;
  position: relative;
}

.pageTitle {
  background-image: url("../assets/media/backgrounds/background-2.jpg");
  width: 100vw;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  padding:5rem 5vw;
  align-items: center;
  display: flex;
}


/*Media Queries */

@media only screen and (min-width: 750px) {
  .content {
    padding: 0 10vw;
  }
  .pageTitle {
    padding: 7rem 10vw;
  }
}