
body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, a, a:hover, a:checked {
  color: #2a3855;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}


.App {
  background-color: white;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  padding: 0 5vw;
  position: relative;
}

.navbar {
  background: white;
  border-width: 0px !important;
  border-radius: 0 !important;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  font-weight: 600;
  color: #2a3855;
}

.nav-dropdown-item {
  padding: .78571429rem 1.14285714rem!important;
  font-weight: 600 !important;
  color: #2a3855 !important;
}

.pageTitle {
  background-image: url("../assets/backgrounds/background-2.jpg");
  width: 100vw;
  min-height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  overflow: hidden;
  padding: 7rem 5vw 5rem;
  align-items: center;
  display: flex;
}

.pageTitle.home {
  background-image: url("../assets/backgrounds/background_video.gif");
}


/*Media Queries */

@media only screen and (min-width: 750px) {
  .content {
    padding: 0 10vw;
  }
  .pageTitle {
    padding: 10rem 10vw 5rem;
  }
  .navbar {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}