/* Font sizes */

.fs--1 {
  font-size: 0.75019rem !important;
}

.fs-0 {
  font-size: 1rem !important;
}

.fs-1 {
  font-size: 1.333rem !important;
}

.fs-2 {
  font-size: 1.77689rem !important;
}

.fs-3 {
  font-size: 2.36859rem !important;
}

.fs-4 {
  font-size: 3.15733rem !important;
}

.fs-5 {
  font-size: 4.20873rem !important;
}

.fs-6 {
  font-size: 5.61023rem !important;
}

.fs-7 {
  font-size: 7.47844rem !important;
}

.fs-8 {
  font-size: 9.96876rem !important;
}

/* Background Colors */

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #f2f2f2;
}

/* Text Colors */

.white {
    color: white;
}

.blue-1 {
    color: #2a3855;
}


/* Alignment */

.center-items {
  display: flex;
  align-items: center;
}

.center-items > .item {
  display: inline !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}


/* Miscellaneous */

.clickable {
  cursor: pointer;
}

.fluid {
  width: 100%;
}

.regular-section {
  margin: 2rem 10px !important;
}


@media only screen and (min-width: 770px) {
  .regular-section {
    margin: 2rem 10vw !important;
  }
}